<h2>New Comment</h2>

<div class="form">
	<%= form_for [@post,@comment] do |f| %>
		
		<%= f.label "Write Your Comment"%><br>
		<%= f.text_field  :content,required: true%><br>

		<%= f.submit %>
	<%end%>
 
</div>

